
.about-section {
    padding: 80px 20px;
    max-width: 1100px;
    margin:0 auto;
}
.section-heading {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 60px;
}
.about-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    margin-bottom: 80px;
}
.about-block.reverse {
    flex-direction: row-reverse; 
}
.about-text {
    flex:1;
}
.about-text h3 {
    font-size: 1.6rem;
    color: #00aaff;
    margin-bottom: 20px
}
.about-text p,
.about-text ul {
    font-size: 1.1rem;
    line-height: 1.7;
    color:#dcdcdc;
}
.about-text ul {
    list-style:disc;
    margin-left:20px;
}
.about-image {
    flex:1;
}
.about-image img{
    width: 100%;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255,255,255,0.1);
}
.about-statistics {
    display:flex;
    justify-content: center;
    gap:40px;
    flex-wrap:wrap;
    margin-top: 30px;
}
.statictis-items {
    text-align: center;
}
.statistic-items h3 {
    font-size:2rem;
    color:white;
}
.statictis-items:hover h3 {
     transform: translateY(-6px);
}

.read-more-section {
    text-align: center;
    margin-top: 50px;
}
.read-more{
    background:#002f4b;
    color: white;
    display: block;
    border:none;
    padding: 15px 40px;
    border-radius: 30px;
    cursor:pointer;
    font-weight: bold;
}

.read-more:hover {
    background:#00aaff;
}
.hidden-text{
    display: none;
    margin-top: 20px;
    max-width: 800px;
    margin-left:auto;
    margin-right: auto;
    color: #c9c9c9;
    font-size: 1.05rem;
    line-height: 1.6;
}
.hidden-text p{
    margin-bottom: 20px;
}
.about-container ion-icon {
    font-size: 32px;
    color:#00aaff;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
.about-text {
  animation: breathe 5s ease-in-out infinite;
}
.statistic-items h3 {
  transition: transform 0.3s ease, color 0.3s ease;
}

.statistic-items:hover h3 {
  transform: translateY(-6px);
  color: #00aaff;
}
@media screen and (max-width: 1024px) {
    .about-block {
        flex-direction: column;
        text-align: center;
    }
    .about-block.reverse {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .section-heading {
        font-size: 1.8rem;
    }
    .about-text p {
        font-size: 1rem;
    }
    .statistic-items h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    header nav{
        display: none;
    }
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .about-section {
        padding: 50px 15px;
    }
    .read-more {
        width: 100%;
    }
}
